<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.hameedfamily">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Splash"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GFMActivity"
            android:label="" />
        <activity
            android:name=".FBFActivity"
            android:label="" />
        <activity
            android:name=".ChildActivity1"
            android:label=""
            android:parentActivityName=".FBFActivity" />
        <activity
            android:name=".ChildsActivity2"
            android:label=""
            android:parentActivityName=".FBFActivity" />
        <activity
            android:name=".ChildsActivity3"
            android:label=""
            android:parentActivityName=".FBFActivity"></activity>
        <activity
            android:name=".ChildsActivity4"
            android:label=""
            android:parentActivityName=".FBFActivity"></activity>
        <activity android:name=".ChildsActivity5"
            android:label=""
            android:parentActivityName=".FBFActivity">

        </activity>
    </application>

</manifest>